{% comment %} <!-- notification_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification List</title>
</head>
<body>
    
</body>
</html> {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script>
        // Wrap your script in window.onload to make sure it runs after the DOM is fully loaded
        window.onload = function() {
            // Add click event listeners for each category
            const categoryElements = document.querySelectorAll('.cricket, .football, .basketball, .baseball, .hocky, .athelatics, .valleyball, .golf');

            categoryElements.forEach(function(category) {
                category.addEventListener('click', function() {
                    // Toggle the 'active' class for the clicked category
                    this.classList.toggle('active');

                    // Remove 'active' from other categories
                    categoryElements.forEach(function(otherCategory) {
                        if (otherCategory !== category) {
                            otherCategory.classList.remove('active');
                        }
                    });
                });
            });
        };
    </script>
    <script>

      </script>
    <style>







    </style>

    {% load static %}
    <link rel="stylesheet" href="{% static 'payment.css' %}">
</head>
<body>
    <div class="main">
        <div class="leftpanel">
            <div class="logo" data-url="/">
                <div class="sports">Sports</div>
                <div class="daily">Daily</div>
            
            </div>
            <div class="category">
                <div class="categories">
                        <div class="Home" id="leftpanel" onclick="toggle()">
                            <img src="/static/payment/Credit-Card.svg" alt="">
                            <div class="Home-title">Credit-Card</div>
                        </div>
                        <div class="upi" id="leftpanel" onclick="toggle()">
                            <img src="/static/payment/upi.svg" alt="">
                            <div class="upi-title">UPI</div>
                        </div>
                        <div class="net-banking" id="leftpanel" onclick="toggle()">
                            <img src="/static/payment/net-banking.svg" alt="">
                            <div class="net-banking-title">Net-Banking</div>
                        </div>
                        {% comment %} <div class="Plan" id="leftpanel" data-url="/baseball/">
                            <img src="/static/icon/category/baseball.png" alt="">
                            <div class="football-title">BaseBall</div>
                        </div>
                        <div class="hocky" id="leftpanel" data-url="/hockey/">
                            <img src="/static/icon/category/hocky.png" alt="">
                            <div class="hocky-title">Hockey</div>
                        </div>
                        <div class="athelatics" id="leftpanel" data-url="/athelatics/">
                            <img src="/static/icon/category/athelatics.png" alt="">
                            <div class="athelatics-title">Athelatics</div>
                        </div>
                        <div class="valleyball" id="leftpanel" data-url="/valley-ball/">
                            <img src="/static/icon/category/valleyball.png" alt="">
                            <div class="athelatics-title">Valley Ball</div>
                        </div>
                        <div class="golf" id="leftpanel" data-url="/golf/">
                            <img src="/static/icon/category/golf.png" alt="">
                            <div class="golf-title">Golf</div>
                        </div> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="gird">

                <div class="header">
                    <div class="header-1">
                        
                        <div class="search-container">
{% comment %}                             
                            <input class="search-txt" type="text" placeholder="Type To Search...">
                            <img class="search-icon" src="/static/icon/search.svg" alt=""> {% endcomment %}
                            <h1>Sports</h1><h1 class="daily-h1">Daily</h1>  <h1>Prime</h1>

                        </div>
                    </div>
                    <div class="header-2">
                        
                        <img class="bell" src="/static/icon/bell.svg" alt="bell-icon" id="bell" data-url="#">
                        <img class="profile" src="/static/icon/profile.png" alt="profile" id="profile" data-url="{% url 'edit-profile' %}">
                        
                    </div>
                </div>
                <div class="hr"><hr></div>
                <div class="main-container">
                    <div class="con">
                        <div class="pop" id="popup">
                            <img src="{% static '/payment/suc-icon.svg' %}" alt="">
                            <h3>You payment has been successful!!!</h3>
                            <button class="nav-logout" data-url="home">Return to home</button>
                        </div>
                        {% comment %} <div class="con-tabs">
                            <div class="title">
                                <h3>Payment methods</h3>
                            </div>
            
                            <div class="tabs">
                                <div class="t1">
                                    <img src="{% static 'assets/icon/card.svg' %}" alt="">
                                    <h3>Credit/Debit</h3>
                                </div>
            
                                <div class="t2">
                                    <img src="{% static 'assets/icon/upi.svg' %}" alt="">
                                    <h3>UPI</h3>
                                </div>
            
                                <div class="t3">
                                    <img src="{% static 'assets/icon/bank.svg' %}" alt="">
                                    <h3>Bank</h3>
                                </div>
                            </div>
                        </div> {% endcomment %}
            
                        <div class="tab-con" id="blur">
                            <div class="con-card active">
                                <div class="sub-con">
                                    <div class="tt-amt">
                                        <h3>Enter Credit / Debit Card detials</h3>
                                        <h3 id="amt">Amount ₹ 2999</h3>
                                    </div>
            
                                    <div class="inner-sub-con">
                                        <div class="inp">
                                            <label for="c-number">Card Number</label>
                                            <div class="in">
                                                <input id="c-number" maxlength="19" name="c-number" type="tel"
                                                    placeholder="Enter Card Number" inputmode="numeric" required
                                                    pattern="\d{4}-\d{4}-\d{4}-\d{4}"
                                                    oninput="this.value = this.value.replace(/[^\d]/g, '').replace(/(.{4})/g, '$1-').slice(0, 19)"
                                                    data-allow-spaces="true">
                                                <img src="{% static '/payment/Credit-Card.svg' %}" alt="">
                                            </div>
                
                                        </div>
                
                                        <div class="con-inp">
                                            <div class="inp" id="exp-date">
                                                <label for="c-expdate">Expire Date</label>
                                                <div class="in">
                                                    <input id="c-expdate" name="c-expdate" type="tel" placeholder="MM/YY" required
                                                    pattern="(0[1-9]|1[0-2])\/\d{2}"
                                                    oninput="this.value = this.value.replace(/[^\d\/]/g, '').replace(/(\d{2})\/?(\d{0,2}).*$/, '$1/$2')"
                                                    data-allow-slashes="true">
                                                </div>
                                            </div>
                                            <div class="inp" id="cvv">
                                                <label for="c-cvv">CVV</label>
                                                <div class="in">
                                                    <input id="c-cvv" name="c-cvv" type="tel" placeholder="CVV" inputmode="numeric"
                                                        required maxlength="3" pattern="\d{3}">
                                                </div>
                                            </div>
                                        </div>
                

                                        <div class="con-pay">
                                            <form action="{% url 'update_profile' %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit">Pay now</button>
                                            </form>
        
                                        </div>
                                    </div>
                                </div>
            
                            </div>
                            <div class="con-upi">
                                <div class="sub-con">
                                    <div class="sub-upi-con">
                                        <div class="tt-amt">
                                            <h3>Scanner QR code for UPI payment</h3>
                                            <h3 id="amt">Amount ₹ 2999</h3>
                                        </div>
                
                                        <div class="img">
                                            <img src="{% static '/payment/payment-scan.jpeg' %}" alt="">
                                        </div>
                
                                        <div class="inp">
                                            <label for="c-uid">Enter UPI ID</label>
                                            <div class="in">
                                                <input id="c-uid" name="c-uid" type="number" placeholder="Usename@bankname">
                                            </div>
                
                                        </div>
                
                                        <div class="con-pay">
                                            <form action="{% url 'update_profile' %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit">Pay now</button>
                                            </form>
        
                                        </div>
                                    </div>
                                </div>
            
            
                                <div class="con-gif">
                                    <img src="{% static '/payment/qr.gif' %}" alt="">
                                </div>
            
                            </div>
                            <div class="con-net">
                                <div class="tt-amt">
                                    <h3>Net Banking</h3>
                                    <h3 id="amt">Amount ₹ 2999</h3>
                                </div>
            
                                <div class="i-bank">
                                    <div class="con">
                                        <img src="{% static '/payment/hdfcbank.svg' %}" alt="">
                                        <h4>HDFC</h4>
                                    </div>
                                    <div class="con">
                                        <img src="{% static '/payment/axis.svg' %}" alt="">
                                        <h4>AXIS</h4>
                                    </div>
                                    <div class="con">
                                        <img src="{% static '/payment/icici.svg' %}" alt="">
                                        <h4>ICICI</h4>
                                    </div>
                                </div>
            
                                <div class="sel-bank">
                                    <select>
                                        <option value="">Select a Bank</option>
                                        <option value="bank_of_baroda">Bank of Baroda</option>
                                        <option value="kanra_bank">Kanra Bank</option>
                                        <option value="punjab_national_bank">Punjab National Bank</option>
                                        <option value="kotak_mahindra">Kotak Mahindra</option>
                                        <option value="state_bank_of_india">State Bank of India</option>
                                    </select>
                                </div>
            
                                <div class="con-pay">
                                    <form action="{% url 'update_profile' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">Pay now</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    
        
    </div>
    {% comment %} <div class="footer">
        <div class="footer-con">
            <div class="newsletter">
                <div class="newsletter-title">
                    Join Our Newsletter Community
                </div>
                <div class="newletter-input-btn">
                    <input class="newsletter-input-field" type="text" placeholder="Enter Your E-mail....">
                    <button class="newsletter-btn">Subscribe</button>
                </div>
    
            </div>
            <div class="con-footer">
                <div class="con1">
                    <div class="footer-con1-title">About</div>
                    <div class="footer-dis">Welcome to Sports Daily, your ultimate destination for all things sports! Established with a passion for the game, we bring you comprehensive coverage, insightful analyses, and the latest updates across various sports.</div>
                </div>
                <div class="con3">
                    <div class="sub-con3">
                        <div class="con3-title">
                            Reach Us Out
                        </div>
                        <div class="con3-email-title">
                            <img src="/static/icon/email.svg" alt="">
                            <p>Email - US</p>
                        </div>
                        <div class="con3-email">
                            <p>SportsDaily@Businees.com</p>
                        </div>
    
    
                    </div>
                </div>
                <div class="con2">
                    <div class="footer-con2-title">
                        Follow - Us
                    </div>
                    <div class="social-icon">
                        <a href="https://twitter.com">
                            <img src="/static/icon/Twitter.png" alt="Twitter Icon" class="social-icon-img"> 
                        </a>
                        <a href="https://www.instagram.com/"><img src="/static/icon/instagram.png" alt="Twitter Icon" class="social-icon-img"></a>               
                        <img src="/static/icon/Facebook.png" alt="Twitter Icon" class="social-icon-img">
                        <img src="/static/icon/LinkedIn.png" alt="Twitter Icon" class="social-icon-img">
                        <img src="/static/icon/YouTube.png" alt="Twitter Icon" class="social-icon-img">
                    </div>
                </div>
                
            </div>
            <div class="f-credit">
                <div class="divider">
                    <hr>
                    X
                    <hr>
                </div>
                <div class="footer-c-p">
                    <div class="footer-credit">
                        <h3>© 2023 Imagica Resort. All rights reserved</h3>
                    </div>
                    <div class="f-page">
                        <p>Home</p>
                        <p>About</p>
                        <p>Contact</p>
                        <p>Privacy</p>
                    </div>
                </div>
                
            </div>   
    
        </div>
        
    </div>
    {% endcomment %}
    
    
                </div>
                <script>
                    const hlinks = document.querySelectorAll(" .logo, .bell, .profile");
                
                    hlinks.forEach(link => {
                        link.addEventListener("click", function () {
                            const url = this.getAttribute('data-url');
                            window.location.href = url
                
                            this.classList.add('clicked');
                
                            // Remove the 'clicked' class after a short delay (for visual feedback)
                            setTimeout(() => {
                                this.classList.remove('clicked');
                            }, 300);
                        })
                    })
                    document.addEventListener('DOMContentLoaded', function () {
                        const tabs = document.querySelectorAll('.categories > div');
                        const tabContents = document.querySelectorAll('.tab-con > div');
                
                        tabs.forEach((tab, index) => {
                            tab.addEventListener('click', () => {
                                tabs.forEach(t => t.classList.remove('active'));
                                tabContents.forEach(c => c.classList.remove('active'));
                
                                tab.classList.add('active');
                                tabContents[index].classList.add('active');
                            });
                        });
                    });
                    function toggle() {
                        console.log("Toggle function executed");
                        var popup = document.getElementById('popup');
                        popup.classList.toggle('show');
                        var blur = document.getElementById('blur');
                        blur.classList.toggle('blurred');
                    }
</script>
</body>
</html>
